<nav class="navbar">
    <div class="navbar_container">
        <div class="navbar_left">
            <ul class="navbar_navlinks">
                <li><a href="/find">Find a ride</a></li>
                <li><a href="/post">Post a trip</a></li>
            </ul>
        </div>
        <div class="navbar_center">
            <h1 class="navbar_logo"><a href="/">ON MY WAY</a></h1>
        </div>
         <div class="navbar_right">
            <ul class="navbar_navlinks">
                <li><a href="/working">How it works</a></li>
                <li><a href="/login">Sign in</a></li>
            </ul>
        </div>
    </div>
</nav>
